body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#grandfather{
    width: 400px;
    height: 400px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#father{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#son{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}