.testimonials {
    background: var(--second-bg-color);
}

.testimonials_box{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonials .heading {
    margin-bottom: 5rem;
}

.testimonials_box img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 3rem;
}

.testimonial_item{
    min-height: 550px;
    max-width: 450px;
    background: rgba(0, 0, 0, 0.7);
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: #fff;
    transition: 0.4s ease-in-out;
}

.testimonial_item:hover{
    border: 3px solid var(--main-color);
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 0 50px var(--main-color);
}

.testimonial_item h2 {
    font-size: 2.8rem;
}

.testimonial_item p {
    font-size: 1.3rem;
}

#star {
    color: gold;
    font-size: 2rem;
}
